/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
  }
  a.item.dropdown-btn:hover {
      background-color: #ffffff !important;
  }