.ui.button.right.floated {
    text-align: right;
}

.ui.button.left.floated {
    text-align: left;
}

.post_buttom {
    float: right;
    cursor: pointer
}

.teamHeader {
    padding: 15px;
    background: #d3d3d35e;
    cursor: pointer;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

.teamName {
    font-size: 20 px;
}

.hours {
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
}

.cursor_pointer {
    cursor: pointer;
}

.disabled_cursor {
    cursor: not-allowed
}

.userInfo {
    min-width: 200px;
    margin-bottom: 30px;
}

.userDetails {
    margin-left: 18px;
    max-height: 500px;
    overflow-y: scroll;
    /* background: lightgrey;
        padding: 10px;
        border-radius: 4px;
        height: 120px;
        padding-top: 25px;
        padding-left: 25px;
        overflow: auto; */
}

.image-circle {
    padding: 15px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.fa-paperclip {
    margin-left: 15px;
    font-size: 18px;
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 10px;
}

.trashIcon {
    float: right;
    display: none;
    font-size: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.userName {
    color: black;
    font-size: 18px;
    margin: 0;
}

.desig {
    color: black;
    font-size: 16px;
    margin: 0;
}

.MB30 {
    margin-bottom: 10px;
}

.reply-button {
    margin-top: -25px;
}

.modal-header {
    display: block;
}

.modal-body {
    overflow-x: hidden;
    max-height: 550px;
    overflow-y: scroll;
}
.ui.modal>.close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    opacity: .8;
    font-size: 1.25em;
    color: #9e9e9e;
    width: 2.25rem;
    height: 2.25rem;
    padding: .625rem 0 0 0;
}
.content {
    max-height: 500px;
    overflow-y: scroll;
}
.filetype-info {
    display: block;
    font-size: 12px;
    margin-top: 3px;
    color: #616161;
}
/* Mobile View Code Starts Here */
@media (max-width:510px) {
    .post_buttom {
        margin-top:10px;
        float: left;
        cursor: pointer
    }
}
/* Mobile View Code Ends Here */